MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=rag_db

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=rag-documents

MILVUS_COLLECTION=document_chunks

OPENAI_API_KEY=
QWEN_API_KEY=
DEEPSEEK_API_KEY=
