MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=rag_db
MYSQL_PORT=3306
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/rag_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root123

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET=rag-documents

MILVUS_COLLECTION=document_chunks

OPENAI_API_KEY=sk-65b03407637bb246cea178a5f64079a03d7b9324ed8bb12dd854362a19918127
QWEN_API_KEY=sk-sp-djI.B4gWUKHDD1_eCg39NUbRgx3N94IXdFdxgc42kUa2eIOQCHaEEyMn5MalPRJ7dU1OCuMaHAFF3IAkcipAi9Fp4BuPn6PPepxUJKCtHxU2vSkFfbhFUaYxdbCa8Q_eDPDN1ZskBGgzERSt2r-TjT-MPxtWY9-YucoAU9nUSJI-drKZc4KJFPg949Enx-YuSNH1.MEUCIFH6nKymbRomR1lr5muejd4goTFmUt8HHNTEQuprHEiTAiEAic5Auo4_Od5SlC_BzOfnVjZuQSlvsY5M5ySmZ_qEj58
DEEPSEEK_API_KEY=sk-1a987a09d0d54cd1be9ade21750b5d82
